.header {
  background-image: url("../img/headerImg.svg");
  background-size: cover; /* 배경 이미지를 요소에 맞게 자동으로 조절합니다 */
  background-repeat: no-repeat;
  width: 1000px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; /* 좌우 여백을 줍니다 */
  box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
  .header {
    width: 100%;
  }
}

.header .header_text_box {
  text-align: center;
}
.header .header_text_box h2 {
  margin: 0;
  font-size: 24px;
}
.header .header_text_box p {
  margin: 0;
  font-size: 16px;
}
.header .header_text_box a {
  color: #000; /* 링크 텍스트 색상을 원하는 색상으로 변경 */
  text-decoration: none; /* 밑줄 제거 */
}
